
/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_2.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */


/* Main Menu */

#nav {
	padding-top: 1px;
	height: 30px;
	position: relative;
	z-index: 500;
	float: left;
}

#nav li.top {
	display: block;
	float: left;
	height: 30px;
}

#nav li a.top_link {
	display: block;
	float: left;
	line-height: 30px;
	color: #4c4c4c;
	text-decoration: none;
	font-weight: bold;
	cursor:pointer;
}

#nav li a.top_link span {
	float: left;
	display: block;
	padding: 0 15px;
	height: 30px;
	background: none;
}

#nav li a.top_link span.down { background: url(../images/main_nav_dir-arrow.gif) no-repeat right 14px; }

#nav li:hover a.top_link {
	color:#000;
	background: url(../images/main_nav-hover_bg.gif) repeat-x left top;
}

#nav li:hover a.top_link span { background: none; }

#nav li:hover a.top_link span.down { background: url(../images/main_nav_dir-arrow.gif) no-repeat right 14px; }

/* Default list styling */

#nav li:hover {
	position:relative;
	z-index:200;
}

#nav li:hover ul.sub {
	left: 0;
	top: 30px;
	background: #fff;
	border: 1px solid #e2e2e2;
	white-space: nowrap;
	width: 180px;
	height: auto;
	z-index: 300;
}

#nav li:hover ul.sub li {
	display: block;
	height: 28px;
	position: relative;
	float: left;
	width: 180px;
	font-weight: normal;
}

#nav li:hover ul.sub li a {
	display: block;
	height: 27px;
	width: 150px;
	padding: 0 15px;
	line-height: 27px;
	text-decoration:none;
	color:#363636;
	border-bottom: 1px solid #e2e2e2;
	background: #fff;
}

#nav li:hover ul.sub li a:hover {
	color: #ed1c24;
	text-decoration: underline;
	background: url(../images/main_nav-secitem_bg.gif) repeat-x left;
}

#nav li ul.sub li a.fly, #nav li:hover ul.sub li a.fly:hover { background: none; }

#nav li:hover li:hover ul, #nav li:hover li:hover li:hover ul, #nav li:hover li:hover li:hover li:hover ul, #nav li:hover li:hover li:hover li:hover li:hover ul {
	left:90px;
	top:-4px;
	background: #bbd37e;
	padding:3px;
	border:1px solid #5c731e;
	white-space:nowrap;
	width:90px;
	z-index:400;
	height:auto;
}

#nav ul, #nav li:hover ul ul, #nav li:hover li:hover ul ul, #nav li:hover li:hover li:hover ul ul, #nav li:hover li:hover li:hover li:hover ul ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	width:0;
	height:0;
	margin:0;
	padding:0;
	list-style:none;
}

#nav li:hover li:hover a.fly, #nav li:hover li:hover li:hover a.fly, #nav li:hover li:hover li:hover li:hover a.fly, #nav li:hover li:hover li:hover li:hover li:hover a.fly {
	background: none;
}

#nav li:hover li:hover li a.fly, #nav li:hover li:hover li:hover li a.fly, #nav li:hover li:hover li:hover li:hover li a.fly { 
	background: none;
}

/* Category Menu */

#prod_nav {
	position: relative;
	z-index: 300;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	border-bottom: 2px solid #d7d7d7;
}

#prod_nav li.top {
	display: block;
	float: left;
	width: 170px;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #fbfbfb;
	height: 31px;
}

#prod_nav li a.top_link {
	display: block;
	width: 159px;
	padding-left: 11px;
	font-size: 11px;
	line-height: 31px;
	color: #252525;
	text-decoration: none;
	font-weight: bold;
	cursor:pointer;
	background: #f0f0f0;
}

#prod_nav li a.top_link span, #prod_nav li a.top_link span.down {
	display: block;
	padding-right: 20px;
	background: url(../images/productmenu-arrow.gif) no-repeat right center;
}

#prod_nav li:hover a.top_link {
	color:#ed1c24;
	background: #fff;
}

#prod_nav li:hover a.top_link span, #prod_nav li:hover a.top_link span.down { background: url(../images/productmenu-arrow-hover.gif) no-repeat right center; }

/* Default list styling */

#prod_nav li:hover {
	position:relative;
	z-index:200;
}

#prod_nav li:hover ul.sub {
	left: 170px;
	top: -1px;
	background: #fff url(../images/productmenu-leftborder.gif) no-repeat left top;
	border: 1px solid #e2e2e2;
	border-left: 0;
	white-space: nowrap;
	width: 384px;
	height: auto;
	z-index: 300;
}

#prod_nav li:hover ul.sub li {
	display: block;
	position: relative;
	float: left;
	width: 364px;
	font-weight: normal;
	background: url(../images/productmenu-section-bg.png) no-repeat right bottom;
	padding: 10px 0 10px 20px;
}

#prod_nav ul, #prod_nav li:hover ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	width:0;
	height:0;
	margin:0;
	padding:0;
	list-style:none;
}

/* Overwrite the above settings */
#prod_nav li:hover ul.sub ul {
	position: relative;
	left: auto;
	top: auto;
	width: auto;
	height: auto;
	float: left;
	width: 152px;
	padding-right: 18px;
	background: none;
}

#prod_nav li:hover ul.sub ul li {
	background: none;
	padding: 8px 0;
	padding-right: 16px;
	width: 132px;
}

#prod_nav li:hover ul.sub ul li a {
	color: #363636;
	text-decoration: none;
	white-space: normal;
}

#prod_nav li:hover ul.sub li a:hover {
	color: #ed1c24;
	text-decoration: underline;
}

#prod_nav li:hover li:hover a.fly, #prod_nav li:hover li:hover li:hover a.fly, #prod_nav li:hover li:hover li:hover li:hover a.fly, #prod_nav li:hover li:hover li:hover li:hover li:hover a.fly { 
	background: none;
}

#prod_nav li:hover li:hover li a.fly, #prod_nav li:hover li:hover li:hover li a.fly, #prod_nav li:hover li:hover li:hover li:hover li a.fly { 
	background: none;
}

/* Account Option Menu */
.customer_nav {
	background: #ed1c24;
	margin-bottom: 20px;
}

.customer_nav h2 {
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	background: url(../images/customer_nav_bg.gif) repeat-x left bottom;
	padding: 8px 10px;
}

.customer_nav ul {
	padding: 0 10px 8px;
}

.customer_nav ul li {
	float: left;
	line-height: 25px;
	border-bottom: 1px solid #e94248;
	width: 152px;
}

.customer_nav ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

.customer_nav ul li a:hover {
	text-decoration: underline;
}
