<!-- INCLUDE header.tpl -->
    	<div style="width:25%; float:left;">
            <div style="margin-left:auto; margin-right:auto;">
            	<!-- INCLUDE sidebar-{CURRENT_PAGE}.tpl -->
            </div>
        </div>
    	<div style="width:75%; float:right;">
            <div class="main-box">
            	<h4 class="rounded-top rounded-bottom">{L_25_0011}&nbsp;&gt;&gt;&nbsp;{L__0008}&nbsp;&gt;&gt;&nbsp;{L_511}</h4>
				<form name="editbanneruser" action="" method="post">
<!-- IF ERROR ne '' -->
					<div class="error-box"><b>{ERROR}</b></div>
<!-- ENDIF -->
                    <table width="98%" cellpadding="0" cellspacing="0" class="blank">
                    <tr>
                    	<td>{L_302}</td>
                    	<td><input type="text" name="name" value="{NAME}"></td>
                    </tr>
                    <tr>
                    	<td>{L__0022}</td>
                    	<td><input type="text" name="company" value="{COMPANY}"></td>
                    </tr>
                    <tr>
                    	<td>{L_107}</td>
                    	<td><input type="text" name="email" value="{EMAIL}"></td>
                    </tr>
                    </table>
					<input type="hidden" name="id" value="{ID}">
                    <input type="hidden" name="action" value="update">
                    <input type="hidden" name="csrftoken" value="{_CSRFTOKEN}">
                    <input class="button" type="submit" name="act" class="centre" value="{L_530}">
				</form>
            </div>
        </div>
<!-- INCLUDE footer.tpl -->