<!-- INCLUDE header.tpl -->
    	<div style="width:25%; float:left;">
            <div style="margin-left:auto; margin-right:auto;">
            	<!-- INCLUDE sidebar-{CURRENT_PAGE}.tpl -->
            </div>
        </div>
    	<div style="width:75%; float:right;">
            <div class="main-box">
            	<h4 class="rounded-top rounded-bottom">{L_25_0018}&nbsp;&gt;&gt;&nbsp;{L_5236}&nbsp;&gt;&gt;&nbsp;{L_5230}&nbsp;&gt;&gt;&nbsp;{FAQ_NAME}</h4>
				<form name="errorlog" action="" method="post">
<!-- IF ERROR ne '' -->
					<div class="error-box"><b>{ERROR}</b></div>
<!-- ENDIF -->
                    <table width="98%" cellpadding="0" cellspacing="0" class="blank">
<!-- BEGIN flangs -->
                    <tr>
	<!-- IF flangs.S_FIRST_ROW -->
                        <td width="20%">{L_5284}</td>
    <!-- ELSE -->
    					<td>&nbsp;</td>
    <!-- ENDIF -->
                        <td width="5%"><img src="{SITEURL}includes/flags/{flangs.LANGUAGE}.gif"></td>
                        <td width="75%" valign="top">
                            <input type="text" name="category[{flangs.LANGUAGE}]" size="50" maxlength="150" value="{flangs.TRANSLATION}">
                        </td>
                    </tr>
<!-- END langs -->
                    </table>
                    <input type="hidden" name="id" value="{ID}">
                    <input type="hidden" name="action" value="update">
                    <input type="hidden" name="csrftoken" value="{_CSRFTOKEN}">
                    <input class="button" type="submit" name="act" class="centre" value="{L_530}">
				</form>
            </div>
        </div>
<!-- INCLUDE footer.tpl -->