            	<div class="box">
                	<h4 class="rounded-top">{L_25_0010}</h4>
                    <div class="rounded-bottom">
                    	<ul class="menu">
                        	<li><a href="{SITEURL}admin/listusers.php">{L_045}</a></li>
                        	<li><a href="{SITEURL}admin/usergroups.php">{L_448}</a></li>
                        	<li><a href="{SITEURL}admin/profile.php">{L_048}</a></li>
                        	<li><a href="{SITEURL}admin/activatenewsletter.php">{L_25_0079}</a></li>
                        	<li><a href="{SITEURL}admin/newsletter.php">{L_607}</a></li>
                        	<li><a href="{SITEURL}admin/banips.php">{L_2_0017}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                	<h4 class="rounded-top">{L_365}</h4>
                    <div class="rounded-bottom">
                    	<ul class="menu">
                        	<li><a href="{SITEURL}admin/newadminuser.php">{L_367}</a></li>
                        	<li><a href="{SITEURL}admin/adminusers.php">{L_525}</a></li>
                        </ul>
                    </div>
                </div>
            	<div class="box">
                	<h4 class="rounded-top">Tips and Info</h4>
                    <div class="rounded-bottom">
                    	Here You can edit delete or suspend activate user accounts. Manage newsletters, ban IP addresses of hackers, etc. You can also create user groups with specific privileges like buyers, sellers, etc.  You can also enable or disable a particular user registration field (which are displayed during signup). 
                    You can also add a new administrator to manage your website.</div>
                </div>