            	<div class="box">
                	<h4 class="rounded-top">{L_5142}</h4>
                    <div class="rounded-bottom">
                    	<ul class="menu">
                        	<li><a href="{SITEURL}admin/settings.php">{L_526}</a></li>
                        	<li><a href="{SITEURL}admin/auctions.php">{L_5087}</a></li>
                        	<li><a href="{SITEURL}admin/displaysettings.php">{L_788}</a></li>
                        	<li><a href="{SITEURL}admin/spam.php">{L_749}</a></li>
                        	<li><a href="{SITEURL}admin/usersettings.php">{L_894}</a></li>
                        	<li><a href="{SITEURL}admin/errorhandling.php">{L_409}</a></li>
                        	<li><a href="{SITEURL}admin/countries.php">{L_081}</a></li>
                        	<li><a href="{SITEURL}admin/payments.php">{L_075}</a></li>
                        	<li><a href="{SITEURL}admin/durations.php">{L_069}</a></li>
                        	<li><a href="{SITEURL}admin/increments.php">{L_128}</a></li>
                        	<li><a href="{SITEURL}admin/membertypes.php">{L_25_0169}</a></li>
                        </ul>
                    </div>
                </div>
            	<div class="box">
                	<h4 class="rounded-top">{L_276}</h4>
                    <div class="rounded-bottom">
                    	<ul class="menu">
                        	<li><a href="{SITEURL}admin/categories.php">{L_078}</a></li>
                        	<li><a href="{SITEURL}admin/categoriestrans.php">{L_132}</a></li>
                        </ul>
                    </div>
                </div>
            	<div class="box">
                	<h4 class="rounded-top">{L_25_0008}</h4>
                    <div class="rounded-bottom">
                    	<ul class="menu">
                        	<li><a href="{SITEURL}admin/currency.php">{L_5004}</a></li>
                        	<li><a href="{SITEURL}admin/time.php">{L_344}</a></li>
                        	<li><a href="{SITEURL}admin/buyitnow.php">{L_2__0025}</a></li>
                        	<li><a href="{SITEURL}admin/defaultcountry.php">{L_5322}</a></li>
                        	<li><a href="{SITEURL}admin/counters.php">{L_2__0057}</a></li>
                        	<li><a href="{SITEURL}admin/multilingual.php">{L_2__0002}</a></li>
                        	<li><a href="{SITEURL}admin/catsorting.php">{L_25_0146}</a></li>
                        	<li><a href="{SITEURL}admin/metatags.php">{L_25_0178}</a></li>
                        	<li><a href="{SITEURL}admin/contactseller.php">{L_25_0216}</a></li>
                        	<li><a href="{SITEURL}admin/buyerprivacy.php">{L_236}</a></li>
                        </ul>
                    </div>
                </div>
            	<div class="box">
                	<h4 class="rounded-top">Tips and Info</h4>
                    <div class="rounded-bottom">
                    	<p>Carefully observe each and every field and manage your site settings. All links are self-explanatory. You can edit your site main settings like site url, copyright footer info, contact email, Home page display settings like number of items to display, thumbnail resize, etc.</p>
                    	<p>You can also edit , add or delete categories including translations if you have multilingual site. Other options like default country, currency settings and so on..</p>
                    </div>
                </div>