@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	background:#f6dc9e;
  	color:#000;
	font-family:arial,verdana,tahoma,sans-serif;
	font-size:10px;
}

* {
	margin: 0;
	padding: 0;
}

#wrapper {
	border-left: 0px solid #c4000d;
	border-right: 0px solid #c4000d;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	background: #FFF;
}

.clearfix {
	display: inline-block;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.rounded-top {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-khtml-border-top-right-radius: 5px;
}

.rounded-bottom {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
}

.break {
	height: 5px;
}

.box {
	padding: 0 15px 0 10px;
	margin-bottom: 15px;
}

.box h4 {
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
	background-attachment: scroll;
	background-color: #000;
	background-image: url(images/tbbg.gif);
	background-repeat: repeat;
	background-position: 0 0;
}

.main-box h4 {
	background: none repeat scroll 0 0 #f6dc9e;
	font-weight: bold;
	padding: 3px 10px;
	margin-bottom: 5px;
	text-transform: uppercase;	
}

.main-box {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

/* begin css tabs */
ul#tabnav {
	text-align: left;
	margin: 1em 0 0 0;
	font: bold 10px  arial,verdana,tahoma,sans-serif;
	border-bottom: 1px solid #c4000d;
	list-style-type: none;
	padding: 3px 10px 3px 10px;
}

ul#tabnav li {
	display: inline;
}

body#home li.home, body#tools li.tools, body#settings li.settings, body#fees li.fees, body#interface li.interface, body#banners li.banners, body#users li.users, body#auctions li.auctions, body#contents li.contents, body#stats li.stats, body#help li.help {
	border-bottom: 1px solid #A1A177;
	background-color: #e8e8e8;
}

body#home li.home a, body#tools li.tools a, body#settings li.settings a, body#fees li.fees a, body#interface li.interface a, body#banners li.banners a, body#users li.users a, body#auctions li.auctions a, body#contents li.contents a, body#stats li.stats a, body#help li.help a {
	background-color: #ffffff !important;
	color: #000000;
	position: relative;
	top: 1px;
	padding-top: 4px;
}

ul#tabnav li a {
	padding: 3px 4px;
	border: 1px solid #c4000d;
	background-color: #c4000d;
	color: #fff;
	margin-right: 0px;
	text-decoration: none;
	border-bottom: none;
	font-size: 1.2em;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-khtml-border-top-right-radius: 5px;
}

ul#tabnav a:hover {
	background: #f23900; 
}
/* end css tabs */

form {
	margin:0;
	padding:0
}

div {
	padding: 0;
	margin: 0;
}

img {
	border:none;
}


input, textarea, select {
	border: 1px solid #e1c687;
	padding: 4px;
	background: #F7F7F7;
	text-size: 1.2em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

input:focus, textarea:focus, select:focus {
	border: 1px solid #d00036;
}

.centre {
	margin-left: auto;
	margin-right: auto;
}

/* tables */
table, td {
	border: thin dotted #e6e6e6;
}

table.blank, table.blank td {
	border: none;
}

table {
	margin-bottom: 10px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

th {
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	background: none repeat scroll 0 0 #f6dc9e;
	font-weight: bold;
	text-align: left;
	padding: 2px;
}

td, th {
	padding: 2px;
}

tr.bg {
	background-color: #dedede;
}

ul.menu {
	list-style-type:none;
	padding: 0 4px;
}

ul.menu li {
	border-bottom:1px dotted #D6D8D9;
	background: url(images/arrow.png) no-repeat left;
	padding: 6px 12px;
	font-size: 11px;
}

.menu li a, .menu li a:visited, .main-box a, .main-box a:visited, #header a, #header a:visited {
	color: #000000;
	text-decoration: none;
}

.menu li a:hover, .main-box a:hover, #header a:hover {
	color: #d70042;
}

.menu li a:hover {
	margin-left: 0px;
}

/* Info boxes */
.plain-box {
 	background: #fff url(images/loginbg.png) ;
	border: 1px solid #ccc;

}
.plain-box1 {
 	background: #fff url(images/loginbg.png) ;
	border: 1px solid #ccc;
	height: 220px ;
}

.info-box {
	color:#292929;
	border-bottom: 1px solid #ffba69;
	background: #ffba69 url(images/information.png) no-repeat 3px;
}

.error-box {
	color: #B01717;
	border-bottom: 1px solid #F6ABAB;
	background: #FAD0D0 url(images/exclamation.png) no-repeat 3px;
}

.warning-box {
	color: #957210;
	border-bottom: 1px solid #FCEB77;
	background: #FFF6BF url(images/error.png) no-repeat 3px;
}

.success-box {
	color: #62B548;
	border-bottom: 1px solid #D0F1A6;
	background: #E5F8CE url(images/accept.png) no-repeat 3px;
}
.success-box1 {
	color: #CCC;
	border-bottom: 1px solid #CCC;
	background: #fff url(images/tbbg1.png)	
	 
}

.info-box, .error-box, .warning-box, .success-box {
	padding: 4px 0 4px 22px;
	margin: 3px 0;
	font-size: 1.1em;
}
.button {color:#fff; background:#d81920; border:2px solid; border-color:#ff3761 #323232 #323232 #ff3761; font-family: Tahoma, Arial, Verdana, "MS Sans serif"; font-size: 11px; font-weight:bold}