.board	{ width: inherit; padding: 5px; clear: both; text-align: center; }
.border	{ border: 1px solid #D6D6D6; }
.catsearch	{ background-color: #FFFF99; color: #333333; }
.container	{ background-color: #ffffff; }
.errfont	{ background-color: #FFFF00; font-weight: bold; font-family: Verdana, Geneva, sans-serif; color: #FF0000; text-align: center; }
.footer	{ clear: both; padding: 5px; text-align: center; font-size: x-small; }
.footer1	{
	clear: both;
	padding: 5px;
	text-align: center;
	font-size: x-small;
	background-position: center;
}
.hg	{ background-color: #FFFF99; }
.imgSep	{ background: transparent url(img/imgsep.gif) no-repeat center; margin: 0px 4px 1px 4px; display: inline; height: 8px; width: 8px; }
.imgTitL	{ background: transparent url(img/tit_l.gif) no-repeat center; margin: 0px 5px 1px 0px; display: inline; height: 8px; width: 8px; }
.imgTitR	{ background: transparent url(img/tit_r.gif) no-repeat center; margin: 0px 0px 1px 5px; display: inline; height: 8px; width: 8px; }
.logo	{ width: auto; padding: 0; background-color: #ffffff; margin: 0; top: 10px; float: none; text-align: left; }
.padding	{ padding: 15px; }
.table1	{ clear: both; text-align: left; padding: 5px; }
.table2	{ width: inherit; padding: 5px; clear: both; text-align: left; }
.tableContent2	{ font-size: 10px; 
padding-left: 5px; padding-right: 5px;
}
.tableContent3	{ font-size: 10px; }
.titTable3	{ background: #ed1c24 url(images/featured-box_bg1.gif) repeat-x left bottom; text-align: left; text-align: right; padding: 5px; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;  }
.titTable4	{  width:95%; background: #ed1c24 url(images/featured-box_bg1.gif) repeat-x left bottom; text-align: left; padding: 5px; font-size: 12px; font-weight: bolder; color: #000; border-top:  1px solid #C9C9C9; border-right:  1px solid #C9C9C9; border-left:  1px solid #C9C9C9; text-transform: none; border-bottom: 1px solid #C9C9C9;}
p	{ margin: 0px 0px 5px 0px; }
.titTable4b	{width:95%; background: #ed1c24 url(img/bot_deg.gif) repeat-x left bottom; text-align: left; padding: 5px; font-size: 12px; font-weight: bolder; color: #fff; border-top:  1px solid #C9C9C9; border-right:  1px solid #C9C9C9; border-left:  1px solid #C9C9C9; text-transform: none; border-bottom: 1px solid #C9C9C9;}
p	{ margin: 0px 0px 5px 0px; }
dl.tabs	{ margin: 0 0 0 5px; padding: 0; width: 100%; font-size: 13px; }
dl.tabs dd	{ margin: 1px; padding: 5px; float: left; background: transparent url(img/bot_deg.gif) repeat; border-top: 1px solid #AEACAC; border-right: 1px solid #AEACAC; border-bottom: 0px; border-left: 1px solid #AEACAC; }
h3	{ color: #BA1D1D; font-size: 14px; font-weight: bold; text-transform: uppercase; margin: 10px 0 0 0; }
li	{ padding-bottom: 5px; }
table.container	{ float: none; }
th	{ color: #787878; font-size: 12px; background-color: #e7e7e7; font-weight: bold; text-transform: capitalize; padding: 0.3ex; }
ul	{ margin: 0; padding: 10px 10px 10px 20px; list-style: url(img/bullet.gif) none; line-height: 1em; }
.footer a:hover , .footer a:active	{ color: #6DC0FC; }
.table-bar a:active	{ color: #BA1D1D; }

/* NEW CSS (eventaully ill remove all the junk above) */
body {
	color: #131313;
	background-color:#f5f5f5;
	margin: 0 auto;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.wrapper {
	background: #FFFFFF;
	width: 100%;
	margin: 5px auto;
	border:#C9C9C9 1px solid;
	padding-top:10px;
	max-width: 960px;
}

input {
	margin: 3px;
	padding-left: 2px;
}

td {
	padding: 3px;
}

.notd td {
	padding: 0px;
}

.padding {
	padding: 15px;
}

.smallpadding {
	padding: 1px;
}
.smallpaddingright {
	padding: 10px;
}
.copyright {
	font-size:10px;
	text-align:center;
	margin:1px 0 5px 0;
	color:#555555;
	width:100%;
}

.smallspan {
	font-size:10px;
}

.yourbidloss {
	color:#9F0000;
	background:#FFD5D5;
	padding:15px 0 15px 40px;
	font-weight: bold;
}

.yourbidwin {
	color:#099F00;
	background:#EAFFEC;
	padding:15px 0 15px 40px;
	font-weight: bold;
}

.rightside {
	display:block;
	float:center;
	text-align:center;
	 
}

.leftside {
	display:block;
	float:left;
	text-align:left;
	margin-left:5px;
}

.splitbox {
	margin: 10px auto;
	display: block;
	width: 90%;
}

.splitbox:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.fbstar {
	vertical-align: middle;
}

.alt-row {
	background-color:#FFFEEE;
}

.spacer {
	margin: 5px 0 5px 0;
}

.counters {
	color: #1188dd;
	text-transform: uppercase;
	padding: 5px;
	font-size: 12px;
}

.navbar	{
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	background: #9EC9EC;
	padding: 5px;
	clear: both;
	font-weight: bold;
}

.navbar ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
}

.navbar ul li {
	margin-left: 0;
	padding: 3px 15px;
	border-right: 1px #EEEEEE dashed;
	list-style: none;
	display: inline;
	}

.navbar a:hover {
	color: #BA1D1D;
}

a {
	text-decoration: none;
	color: #444444;
}

a:hover {
	text-decoration: underline;
}

.barSec	{
	margin: 0 auto !important;
	text-align: center;
	clear: both;
}


.titTable1 {
	background: #ed1c24 url(images/featured-box_bg1.gif);
	text-align: center;
	padding: 5px;
	font-weight: bold;
	border: 1px solid #C9C9C9;
}
.titTable1a {
	background: #ed1c24 url(images/featured-box_bg1a.gif);
	text-align: center;
	padding: 5px;
	font-weight: bold;
	border: 1px solid #C9C9C9;
}

 .titTable1b {
	background: #ed1c24 url(images/featured-box_bg1b.gif);
	text-align: center;
	padding: 5px;
	font-weight: bold;
	border: 1px solid #C9C9C9;
}

.titTable2 {
	background: #ed1c24 url(images/featured-box_bg1.gif);
	text-align: left;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bolder;
	color: #666666;
	border: 1px solid #C9C9C9;
	text-transform: none;
	width: 90%;
	margin: 5px auto;
}
.titTable2a {
	background: #ed1c24 url(images/featured-box_bg1a.gif);
	text-align: left;
	padding: 0px 0px;
	font-size: 14px;
	font-weight: bolder;
	color: #666666;
	border: 1px solid #C9C9C9;
	text-transform: none;
	width: 100%;
	margin: 1px auto;
}

.rounded-top {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-khtml-border-top-right-radius: 5px;
}

.rounded-bottom {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
}

.rounded-left {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
}

.rounded-right {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
}

.centre {
	padding: 0 auto;
	text-align: center;
}

.button {color:#fff; background:#d81920; border:2px solid; border-color:#ff3761 #323232 #323232 #ff3761; font-family: Tahoma, Arial, Verdana, "MS Sans serif"; font-size: 11px; font-weight:bold}